@model IEnumerable<demo.Models.Message>
@using demo.Models
@using Microsoft.AspNet.Identity

@{ 
	ViewBag.Title = "Inbox";
	var users = (List<ApplicationUser>)ViewData["AllUsers"];
}
<div class="row">
	<div class="col-md-4 col-xs-12 col-lg-3 nopadding inbox_col" style="position: fixed; height: 100% ">
		<div class="jumbotron nomargin">
			<h1>Inbox</h1>
		</div>
		<div class=" jumbotron nomargin">
			<input type="text" name="search" id="search_mail_list" placeholder="Search inbox">
		</div>
		<div class="inbox_list scrollbar-macosx">
			
		</div>
	</div>
	<div class="col-md-8 col-md-offset-4 col-lg-offset-3 col-xs-12 col-lg-7 nopadding open_mail" style="position: fixed; height: 100%">
	</div>
</div>
<script>
	var urlToDetails = '@Url.Action("DisplayMailDetails", "Home")';
	$('.message').click(function() {
		var mid = $(this).data("message_id");
		var that = $(this);
		$('.open_mail').load(urlToDetails, { id: mid }, function (response, status) {
			if (status = "success")
				$(that).removeClass("unreaded");
		});

	})

</script>
<script>
		$('#search_mail_list').on('input propertychange paste', function () {
			var stringToSerach = $(this).val().toLowerCase();

			$('.message ').each(function (key, val) {
				if ($(val).text().toLowerCase().indexOf(stringToSerach) != -1) {
					$(val).show();
				}
				else {
					$(val).hide();
				}
			})
		});
</script>
<script>
	var urlToDetails = '@Url.Action("InboxListPartial", "Home")';
	function reload() {
		$('.inbox_list').load(urlToDetails, {}, function (response, status) {
			if (status = "success") console.log("success");
		});
	}
	reload();
	setInterval(reload, 30000);
</script>
